.liner_gridient{
   -fx-background-color: linear-gradient(to top left , #000000 ,#240046, #6D23B6);
}
.liner_gridient_bar{
   -fx-background-color: linear-gradient(to left , #000000, #6D23B6);
}
.shadow{
-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.8), 10.0 , 0.0 , 0.0 ,10.0);
}
.shadow_icon{
-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.8), 10.0 , 0.0 , 0.0 ,6.0);
}
.shadow_light{
-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.2), 10.0 , 0.0 , 0.0 ,10.0);
}
.shadow_Very_light{
-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}
.scroll{
    -fx-background: linear-gradient(to left , #000000, #6D23B6);
    -fx-background-color: linear-gradient(to left , #000000, #6D23B6);
}
.sura{
     -fx-border-color: #D100D1;
     -fx-border-width: 1.5px;
     -fx-border-radius: 100px;
     -fx-background-radius: 100px;
     -fx-text-fill: #ffffff;
     /*-fx-background-color: #D100D1;*/
}
.text {
    direction: rtl;
}

